#### 1.  Ask user information, for ex: name, department, college etc and display them in the following format

------------------------------------ <br>
Name       : learnbyexample <br>
Department : ECE <br>
College    : PSG Tech <br>

#### 2. Get Sum of 20 and 30

#### 3. Find root 2 and square 2

#### 4.  Write a Python program that accepts an integer (n) and print n+nn+nnn

#### 5. Print first and last characters of Hello using indexing

#### 6. Print Hello in reverse using slicing

#### 7. Build list [0,0,0] in two seperate ways

#### 8. Change value of hello to goodbye

In [ ]:
listx=[1,2,[3,4,"hello"]]

#### 9. Sort the list below

In [ ]:
listx=[5,4,3,2,1]

#### 10. Print Hello from dictionary

In [ ]:
dic={'H1':{'H2':'Hello'}}

#### 11. Find unique values from list below

In [1]:
listx=[1,2,2,33,4,4,11,22,3,3,2]

#### 12. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).

#### 13. Print the following pattern using recursion

1 <br>
2 2 <br>
3 3 3 <br>
4 4 4 4 <br>
5 5 5 5 5<br>

#### 14. Print the following pattern using recursion

In [12]:
#*****1*****
#****2 2****
#***3 3 3***
#**4 4 4 4**
#*5 5 5 5 5*

#### 15. Get a Sentence from user and print all words with even number of letters

#### 16. Create a list containing only odd numbers from the first list and even numbers from the second list

In [ ]:
listOne = [10, 20, 23, 11, 17]
listTwo = [13, 43, 24, 36, 12]

#### 17. Find Fibonacci sequence upto the nth term where N is an integer inserted by the user

#### 18. Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)
Expected output : 9 days

#### 19. Write a Python program to test whether a number is within 100 of 1000 or 2000.

#### 20. Write a function to check if string is palindrome

#### 21. Wite a function to get sum, avaerage and product of all numbers in a list inserted by user

#### 22. Write a function to check if a string is pangram or not ( a panagram is a sentence that contains each letter of the alphabet at leats once ) 
example:"The quick brown fox jumps over the lazy dog)

#### 23. Get two numbers from user to be divided if number entered as divisor is zero throw an exception otherwise return quotient

#### 24. Write a Pandas program to print the name of students who have 2 or less attempts Sample data below

In [9]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#### 25. Create Dataframe with length 10  where name, color and food are randomly assigned from lists and Age is randomly generated

schema=["Name","Age","Color","Food"]

#### 25. Create Dataframe with length 10  where name, color and food are randomly assigned from lists and Age is randomly generated

### 26. Write a Pandas program to convert a given list of lists into a Dataframe.
Sample data:<br>
Original list of lists:<br>
[[2, 4], [1, 3]]<br>
New DataFrame<br>
&nbsp;&nbsp; |&nbsp;col1 | col2 |<br>
0&nbsp;|&ensp;&nbsp;2&nbsp;&nbsp;&nbsp; |&ensp;&nbsp;4&ensp;&nbsp; |<br>
1&nbsp;|&ensp;&nbsp;1&nbsp;&nbsp;&nbsp; |&ensp;&nbsp;3&ensp;&nbsp; |<br>

### 27.

#### 28. A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of password: 6
5. Maximum length of password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

#### 29.Write a function that returns

* 'Good' for numbers divisible by 7
* 'Food' for numbers divisible by 6
* 'Universe' for numbers divisible by 42
* 'Oops' for all other numbers
* Only one output, divisible by 42 takes precedence

#### 30.Sort file contents in alphabetic order based on each line's extension

*  extension here is defined as the string after the last . in the line
*  if line doesn't have a ., it should come before lines with .
*  sorting should be case-insensitive
*  use rest of string as tie-breaker if there are more than one line with same extension